*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10% 0 10%;
    width: 1440px;
    position: relative;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  .container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 8px;
    margin-top: 16px;
  }

  .container button {
    cursor: pointer;
    border: none;
    font-weight: 600;
    background-color: red;
    color: beige;
    border-radius: 5px;
    border-bottom: 1px solid black;
    transition: all .04s ease-out 0s;
  }
  .container button:hover {
    background-color: rgb(211, 10, 50);
    color: yellow;
    
  }
  .container button:active {
    box-shadow: 0px 2px 3px black;
    transform: translateY(2px)
  }

  .modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 450px;
    height: 500px;
    background-color: rgb(228, 223, 153);
  }

  .modal h1 {
    color: red;
    font-size: larger;
    font-weight: 800;
  }
  .modal p {
    color: green;
  }
  .modal span {
    color: black;
    font-size: larger;
    font-weight: 500;
  }